*/.idea/
.idea/
bak/
dist/
temp/*.*
temp/*
/static
node_modules/
html/
psd/
vip/
test/
src/dev.json
jsdemo/
fanren-cankao/
fastphp-master/
Thumbs.db
0_PRIVATE/
*.psd
*.zip
*.rar
*.7z
src/dev.json
pdfs/
